body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 245, 240);
}

.container  {
    display: flex;
    flex-direction: column;
    border: 6px solid #FFD79A;
    height: 600px;
    width: 350px;
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 0 10px 80px -15px rgba(0, 0, 0, 1);
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: 2px solid #76664C;
    height: 100px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to left,#FFEBCD, #FFCC81);
    font-family: 'Rubik', sans-serif;
    box-shadow: #76664C 0 0px 5px 2px;
}

.current-screen {
    font-size: 35px;
    margin-right: 5px;
}

.previous-screen {
    font-size: 20px;
    margin-right: 5px;
}

.buttons {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    font-family: 'Rubik', sans-serif;
}

.btn-row button {
    height: 60px;
    width: 60px;
    margin: 2px;
    font-size: 30px;
    color: #76664C;
    border:  1px, solid #76664C;
    box-shadow: #76664C 0 0px 5px 2px;
}

.btn-row button:hover {
    transform: scale(1.05);
}

.first-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.first-row button {
    height: 60px; 
    width: 130px;
    margin: 4px;
    font-size: 30px;
    background-color:  #FFFFE9;
    border-radius: 10px;
    color: #76664C;
    border:  1px, solid #76664C;
    box-shadow: #76664C 0 0px 5px 2px;
}

.first-row button:hover {
    background-color: #FFEEA9;
    transform: scale(1.05);
}

.number {
    background-color: #fff;
    border-radius: 10px;
}

.operator, .decimal, .change-sign, .equals, .power, .squared, .power {
    background-color: #FFEBCD;
    border-radius: 10px;
}

.number:hover {
    background-color: #FFEBCD;
    transform: scale(1.05);
}

.operator:hover {
    background-color: #FFD79A;
    transform: scale(1.05);
}

.decimal:hover, .squared:hover, .power:hover, .change-sign:hover {
    background-color: #FFD79A;
}

.delete:hover {
    background-color: #FFEEA9;
}

.footer {
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 36px;
}

.fa-github {
    color: black;
    font-size: 24px;
    transition: transform 0.3s ease-in-out;
}
.fa-github:hover {
    transform: scale(1.5);
    cursor: pointer;
  }

