body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 245, 240);
}

.container  {
    display: flex;
    flex-direction: column;
    border: 6px solid #FFD79A;
    height: 600px;
    width: 350px;
    background-color: #fff;
    border-radius: 35px;
    box-shadow: 0 10px 80px -15px rgba(0, 0, 0, 1);
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border: 2px solid #76664C;
    height: 100px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background-image: linear-gradient(to left,#FFEBCD, #FFCC81);
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}

.current-screen {
    font-size: 35px;
}

.buttons {
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    font-family: 'Rubik', sans-serif;
}

.first-row button {
    height: 60px;
    width: 130px;
    margin: 2px;
    font-size: 30px;
    color: #76664C;
    border:  1px, solid #76664C;
}

.other-row button {
    height: 60px;
    width: 60px;
    margin: 2px;
    font-size: 30px;
    color: #76664C;
    border:  1px, solid #76664C;
}

.number {
    background-color: #fff;
    border-radius: 10px;
}

.operator, .decimal, .change-sign, .equals, .power, .squared, .power {
    background-color: #FFEBCD;
    border-radius: 10px;
}

.number:hover {
    background-color: #FFEBCD;
}

.operator:hover {
    background-color: #FFD79A;
}

.decimal:hover, .squared:hover, .power:hover, .change-sign:hover {
    background-color: #FFD79A;
}

.clear {
    background-color:  #FFFFE9;
    border-radius: 10px;
}

.clear:hover {
    background-color: #FFEEA9;
}

.delete {
    background-color: #FFFFE9;
    border-radius: 10px;
}

.delete:hover {
    background-color: #FFEEA9;
}

